<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>관리자 사이트 로그인 및 <%= title %></p>
    <a href="/login">로그인</a><br/>
    <a href="/admin/list">관리자 계정 정보관리</a><br/>
    <a href="/article/list">게시글 정보관리</a><br/>
    <a href="/member/list">사용자 계정 정보관리</a><br/>
    <a href="/channel/list">채팅방 계정 정보관리</a><br/>
    <a href="/message/list">채팅 메시지 계정 정보관리</a>
  </body>
</html>
