<!DOCTYPE html>

<html>
    <head>
        <title>신규 채팅 메시지</title>
    </head>

    <body>
        <h1>신규 채팅 메시지</h1>
        <a href="/message/list">저장</a>
        <a href="/message/list">목록페이지로 이동</a>
    </body>
</html>