<!DOCTYPE html>

<html>
    <head>
        <title>채팅방 정보관리</title>
    </head>

    <body>
        <h1>채팅방 정보관리</h1>
        <a href="/">메인페이지</a><br/>
        <a href="/channel/create">신규 채팅방</a><br/>
        <a href="/channel/modify">채팅방 수정 및 삭제</a>
    </body>
</html>