<!DOCTYPE html>

<html>
    <head>
        <title>사용자 계정 정보관리</title>
    </head>

    <body>
        <h1>사용자 계정 정보관리</h1>
        <a href="/">메인페이지</a><br/>
        <a href="/member/create">신규 사용자 계정</a><br/>
        <a href="/member/modify">사용자 수정 및 삭제</a>
    </body>
</html>