<!DOCTYPE html>

<html>
    <head>
        <title>암호찾기</title>
    </head>

    <body>
        <h1>비밀번호를 잊어버리셨나요?</h1>
        <!-- action: 사용자 정보를 어디로 보낼지에 대한 주소 경로 -->
        <form action="/find" method="post">
            메일주소: <input type="text" name="email" id="email"><br/>
            이름: <input type="text" name="name" id="name"><br/>
            전화번호: <input type="text" name="phone" id="phone"><br/>
            <input type="submit" value="비밀번호 찾기">
        </form>
    </body>
</html>