<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>관리자 사이트 로그인 및 <%= title %></p>
    <a href="/login">로그인</a><br/>
    <a href="/entry">회원가입</a><br/>
    <a href="/find">암호찾기</a><br/>
    <a href="/chat">채팅 웹페이지</a><br/>
  </body>
</html>
