<!DOCTYPE html>

<html>
    <head>
        <title>게시글 정보관리</title>
    </head>

    <body>
        <h1>게시글 정보관리</h1>
        <a href="/">메인페이지</a><br/>
        <a href="/article/create">신규 게시글</a><br/>
        <a href="/article/modify">게시글 수정 및 삭제</a>
    </body>
</html>